<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="first-loading-box">
    <div class="first-loading-wrap">
      <div class="first-loading-item item1"></div>
      <div class="first-loading-item item2"></div>
      <div class="first-loading-item item3"></div>
      <div class="first-loading-item item4"></div>
      <div class="first-loading-item item5"></div>
      <div class="first-loading-item item6"></div>
      <div class="first-loading-item item7"></div>
      <div class="first-loading-item item8"></div>
    </div>
  </div>
</body>

</html>