<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>首页</title>
</head>

<body>
	<%- include ("../../components/header.ejs") %>
	<!-- 主题区 -->
	<div class="main">
		这是首页主体区
		<img src="../../assets/img/1.jpg" alt="">
		<div class='box1'>jq点击变色</div>
		<span class="iconfont icon-m_aps"></span>
	</div>
	<%- include ("../../components/footer.ejs") %>
</body>

</html>